# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
storage/*.db
storage/*.sqlite

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
